.strap {
    background-color: #f1f3f4;
    padding: 10px 0;
    width: 100%;
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 var(--margin-desktop);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.eventsLink {
    color: var(--gdg-blue);
    font-weight: 500;
    text-decoration: none;
    font-size: 1rem;
}

.eventsLink:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .container {
        padding: 0 var(--margin-mobile);
        gap: 1.5rem;
    }
}
