.features {
    padding: 100px 0;
}

.header {
    text-align: center;
    margin-bottom: 60px;
}

.header h2 {
    font-size: var(--heading-size);
}

.featureGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.featureCard {
    padding: 40px;
    border-radius: 12px;
    border: 1px solid var(--gray-100);
    background-color: var(--white);
    display: flex;
    flex-direction: column;
}

.featureCard h3 {
    font-size: 1.5rem;
    margin-bottom: 16px;
}

.featureCard p {
    color: var(--gray-700);
    margin-bottom: 32px;
    flex-grow: 1;
}

.learnMore {
    font-weight: 600;
    font-size: 0.9375rem;
}

.blue h3 {
    color: var(--gdg-blue);
}

.green h3 {
    color: var(--gdg-green);
}

.yellow h3 {
    color: var(--gdg-yellow);
}

.blue .learnMore {
    color: var(--gdg-blue);
}

.green .learnMore {
    color: var(--gdg-green);
}

.yellow .learnMore {
    color: var(--gdg-yellow);
}

@media (max-width: 992px) {
    .featureGrid {
        grid-template-columns: 1fr;
    }
}