.header {
    padding: 60px 0 40px;
}

.header h1 {
    margin-bottom: 8px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "stats stats"
        "resources announcements";
    gap: 32px;
    margin-bottom: 100px;
}

.stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.stat {
    background-color: var(--gray-100);
    padding: 24px;
    border-radius: 8px;
    text-align: center;
}

.stat span {
    font-size: 0.75rem;
    color: var(--gray-700);
    text-transform: uppercase;
    margin-bottom: 8px;
    display: block;
}

.stat h3 {
    font-size: 2rem;
    margin-bottom: 0;
    color: var(--gdg-blue);
}

.resources,
.announcements {
    background-color: var(--white);
    border: 1px solid var(--gray-100);
    padding: 32px;
    border-radius: 12px;
}

.resources h2,
.announcements h2 {
    font-size: 1.25rem;
    margin-bottom: 24px;
}

.resources ul {
    list-style: none;
}

.resources li {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--gray-100);
    font-size: 0.9375rem;
    color: var(--gdg-blue);
    cursor: pointer;
}

.announcement {
    padding: 16px;
    background-color: var(--gdg-blue-light);
    border-radius: 4px;
    position: relative;
}

.tag {
    font-size: 0.625rem;
    background-color: var(--gdg-blue);
    color: var(--white);
    padding: 2px 6px;
    border-radius: 2px;
    position: absolute;
    top: -10px;
    left: 16px;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            "stats"
            "resources"
            "announcements";
    }

    .stats {
        grid-template-columns: 1fr;
    }
}